//colors
@purple: #a68b97;
@light-green: #61ffa0;
@teal: #46d7d7;
@emerald: #45d7d7;
@darkgray:#717874;
@almost-white: #f0fff6;
@turkey-blue: #40a86a;


@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body{
    background-color: #000000;
}

.testclass{
  font-size: 17px;
}

:global{
  .App {
    text-align: center;
  }

  .App-logo {
    animation: logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: @purple;
    height: 150px;
    padding: 20px;
    color: @almost-white;
  }

  .App-intro {
    font-size: large;
  }
}



